<%- await include("layouts/header.ejs", {title: 'Conversions'}) %>

    <%- await include("layouts/flux-mods/navbar.ejs") %>
    <%- await include("components/flux-mods/info-container.ejs",{fileType: "PDF"}) %>
    <%- await include("components/flux-mods/searchbox.ejs") %>
    <div class="py-20 flex items-center justify-around flex-wrap" style='perspective: 1000px;'>
        <% const items = [
        { imagepath: "/images/flux-mods/head-card-img/placeholder.avif", title: "PDF",},
        { imagepath: "/images/flux-mods/head-card-img/placeholder.avif", title: "IMAGE",},
        { imagepath: "/images/flux-mods/head-card-img/placeholder.avif", title: "VIDEO",},
        { imagepath: "/images/flux-mods/head-card-img/placeholder.avif", title: "FILE",},
        { imagepath: "/images/flux-mods/head-card-img/placeholder.avif", title: "DOCUMENT",},
        { imagepath: "/images/flux-mods/head-card-img/placeholder.avif", title: "OTHER UTILITY",},
        // Add more items as needed
    ];
    %>
    <% for (const item of items) { %>
        <%- await include("components/flux-mods/main-card.ejs", {item: item}) %>
    <% } %>
    
</div>

    <script src="/js/flux-mods/card-anim.js"></script>

     <%- await include("layouts/footer.ejs") %>

    <%- await include("layouts/end.ejs") %>




